[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OnomasticDiversity"]
	path = OnomasticDiversity
	url = https://github.com/cran/OnomasticDiversity
